BRIDGE_URL=https://m5oqj21chd.execute-api.ap-southeast-2.amazonaws.com/lambda/invoke
BRIDGE_API_KEY=bk_tOH8P5WD3mxBKfICa4yI56vJhpuYOynfdf1d_GfvdK4
SUPABASE_URL=https://lzfgigiyqpuuxslsygjt.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6ZmdpZ2l5cXB1dXhzbHN5Z2p0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDQxNzQ2OSwiZXhwIjoyMDU5OTkzNDY5fQ.B6SMaQNb8tER_vqrqkmjNW2BFjcoIowulQOREtRcD8Q
